/* Sfondo grigio */
body{
    background-color: lightgrey;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


/* Sfondo bianco dell'intestazione */
#content {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Inizio edit della prima box bianca */
.testo1{
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    vertical-align:top;
}
#box1{
    width: 65%;
    height: 30px;
    background-color: white;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
}

#bottone1{
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border: solid 1px #0076a3;
    background: #0095cd;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
}
#bottone2{
    text-align: center;
    text-decoration: none;
    color: lightgrey;
    padding: 5px 10px;
    border: solid 1px lightgrey;
    background: white;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
}
/* Fine edit della prima box bianca */

/* Inizio edit della seconda box bianca */
#box2{
    width: 65%;
    height: 400px;
    background-color: white;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 10px 10px;
    margin-top: 5px;
    padding-left: 25px;
    padding-top: 25px;
    
}
.menu{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}
.menu::before{
    content: " ▼ ";
    font-size: 15px;
}
.opzioni::before{
    content:" ✓ " ;
    border: solid 1px;
    border-radius: 50%;
    margin-right: 5px;
    border-color: green;
    color: green;
    font-size: 10px;
}
.opzioni{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 30px;
    line-height: 25px;
}
.opzioni2::before{
    content:" ✗ " ;
    border: solid 1px;
    border-radius: 50%;
    margin-right: 5px;
    border-color: red;
    color: red;
    font-size: 10px;
}
.opzioni2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
}
.testocolore{
    background-color: #0095cd;
    border-radius: 8px;
    padding: 8px;
    font-size: 8px ;
    color: white;
    font-family: sans-serif;
}
.testocolore2{
    background-color:violet;
    border-radius: 8px;
    padding: 8px;
    font-size: 8px ;
    color: white;
    font-family: sans-serif;
}
.testocolore3{
    background-color: green;
    border-radius: 8px;
    padding: 8px;
    font-size: 8px ;
    color: white;
    font-family: sans-serif;
}
.testocolore4{
    background-color: orange;
    border-radius: 8px;
    padding: 8px;
    font-size: 8px ;
    color: white;
    font-family: sans-serif;
}
.testocolore5{
    background-color:palevioletred;
    border-radius: 8px;
    padding: 8px;
    font-size: 8px ;
    color: white;
    font-family: sans-serif;
}
.testocolore6{
    background-color:rgb(151, 223, 92);
    border-radius: 8px;
    padding: 8px;
    font-size: 8px ;
    color: white;
    font-family: sans-serif;
}
/* Fine edit della seconda box bianca */